.outer {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  position: relative;
  top: 8px;
}
