.menu {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  &_active {
    text-decoration: underline;
  }

  &:not(.link_active):hover {
    text-decoration: underline;
  }
}
