:root {
  --color-image-placeholder: #F3F4F1;
  --color--danger: #FF6A55;
  --color-overlay: #2e2e2f;
  --color-light: #FFFFFF;
  --color-dark: #050505;

  --header-height: 80px;
  --product-ratio: 1 / 1.25;
}

.light {
  --color-main: var(--color-dark);
  --color-main-inverted: var(--color-light);
  --color-gray-1: #282828;
  --color-gray-2: #a2a2a2;
  --color-gray-3: #f3f2f2;
  --skeleton-1: hsl(80, 5%, 97%);
  --skeleton-2: hsl(80, 5%, 92%);
}

.dark {
  --color-main: var(--color-light);
  --color-main-inverted: var(--color-dark);
  --color-gray-1: #e0e0e0;
  --color-gray-2: #8a8a8a;
  --color-gray-3: #252525;
  --skeleton-1: hsl(80, 1%, 15%);
  --skeleton-2: hsl(80, 1%, 10%);
}
