.outer {
  position: relative;
}

.trigger {
  cursor: pointer;
}

.content {
  display: none;
  position: absolute;
  z-index: 100;
  width: 100%;
  min-width: 180px;
  padding: 0.5em 0;
  top: 100%;
  background: var(--color-main-inverted);
  box-shadow: 0 0 0 1px var(--color-main);

  &_left {
    left: 0;
  }

  &_right {
    right: 0;
  }

  &_open {
    display: block;
  }
}

.item {
  width: 100%;
  padding: 0.8em 1.5em;

  &:hover {
    background: var(--color-gray-3);
  }
}
