.outer {
  display: block;
  position: relative;
}

.pic {
  display: block;
  width: 28px;
  height: 28px;
  fill: var(--color-main);
}

.count {
  position: absolute;
  top: 0;
  right: -9px;
  min-width: 10px;
  padding: 3px 3px 4px;
  font-weight: bold;
  font-size: 9px;
  line-height: 1em;
  text-align: center;
  color: var(--color-main-inverted);
  background: var(--color-main);
  border-radius: 50%;
}
